flows (1).json
[{"id":"18671d0f.36ed13","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"e63a692d.65a5a8","type":"inject","z":"18671d0f.36ed13","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["efc0896d.aafa88"]]},{"id":"5c2a8f5c.cac22","type":"cloudant in","z":"18671d0f.36ed13","name":"","cloudant":"","database":"medicine","service":"akshaya-cloudant-1621487949972-65097","search":"_id_","design":"","index":"","x":340,"y":160,"wires":[["57ced530.ac403c"]]},{"id":"200c3c0b.2ebf34","type":"function","z":"18671d0f.36ed13","name":"","func":"msg.payload={\"command\":msg.payload.name}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":160,"wires":[["c0cdf16d.5a4a9","43ff4fb2.8a2e4"]]},{"id":"efc0896d.aafa88","type":"function","z":"18671d0f.36ed13","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nglobal.set('time',time)\nmsg.payload=date+\" \"+time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":220,"wires":[["5c2a8f5c.cac22"]]},{"id":"57ced530.ac403c","type":"switch","z":"18671d0f.36ed13","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":220,"wires":[[],["200c3c0b.2ebf34"]]},{"id":"c0cdf16d.5a4a9","type":"debug","z":"18671d0f.36ed13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":180,"wires":[]},{"id":"43ff4fb2.8a2e4","type":"ibmiot out","z":"18671d0f.36ed13","authentication":"apiKey","apiKey":"2cce3b5e.cced54","outputType":"cmd","deviceId":"12345","deviceType":"ESP32","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":780,"y":220,"wires":[]},{"id":"f5891350.58815","type":"function","z":"18671d0f.36ed13","name":"","func":"var d=msg.payload.date\nvar t=msg.payload.time\nmsg.payload = {\n    \"_id\":d+\" \"+t,\n    \"name\":msg.payload.name,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":400,"wires":[["de733add.7c7058","48233df.afc27c4","1d445053.e6c07"]]},{"id":"48233df.afc27c4","type":"function","z":"18671d0f.36ed13","name":"","func":"msg.payload = {\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":420,"wires":[["be0e5ccb.a9fe7"]]},{"id":"1d445053.e6c07","type":"debug","z":"18671d0f.36ed13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":520,"wires":[]},{"id":"de733add.7c7058","type":"cloudant out","z":"18671d0f.36ed13","name":"","cloudant":"","database":"medicine","service":"akshaya-cloudant-1621487949972-65097","payonly":true,"operation":"insert","x":480,"y":380,"wires":[]},{"id":"b5a0133d.3d066","type":"ui_form","z":"18671d0f.36ed13","name":"","label":"","group":"731a11d9.639d3","order":15,"width":0,"height":0,"options":[{"label":"THE  MEDICINE NAME","value":"name","type":"text","required":true,"rows":null},{"label":"TIME","value":"time","type":"text","required":true,"rows":null},{"label":"Date(YYYY.MM.DD)","value":"date","type":"text","required":true,"rows":null}],"formValue":{"name":"","time":"","date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":390,"y":520,"wires":[["f5891350.58815","1d445053.e6c07"]]},{"id":"be0e5ccb.a9fe7","type":"delay","z":"18671d0f.36ed13","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":520,"wires":[["b5a0133d.3d066"]]},{"id":"2cce3b5e.cced54","type":"ibmiot","name":"GCET","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"731a11d9.639d3","type":"ui_group","name":"Default","tab":"a090db68.757f48","order":1,"disp":true,"width":22,"collapse":false},{"id":"a090db68.757f48","type":"ui_tab","name":"Medicine-Remainder","icon":"dashboard","disabled":false,"hidden":false}]